.homePage {
    width: 100%;
    height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.homePage .postContents {
    width: 500px;
    height: auto;
    /* max-height: 500px; */
    background: #fff;
    box-shadow: 0 4px 8px rgba(2,16,66,.1);
    border-radius: 2px;
    margin: 20px;
    padding: 20px;
}

.postContents .postHeader h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: .4rem;
}

.postContents .postTextContainer {
    height: auto;
    word-wrap: break-word;
    /* max-height: 400px; */
    /* width: 100%; */
}

.nameAndDeleteButton {
    display: flex;
    align-items: center;
}

.nameAndDeleteButton h2 {
    flex: 80%;
}

.nameAndDeleteButton button {
    padding: 10px 20px;
    background: #f89174;
    color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(2,16,66,.1);
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s;
}

.nameAndDeleteButton button:hover {
    transform: translateY(1px);
    opacity: .8;
    box-shadow: none;
}